<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to Watson!</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% for namespace, message in flash_messages() %}
            <div class="alert alert-{{ namespace }}">{{ message }}</div>
            {% endfor %}
            {{ form.open() }}
            {{ form.username.render_with_label() }}
            {{ form.password.render_with_label() }}
            {{ form.submit }}
            {{ form.close() }}
            <h1>{{ content }}</h1>
            <p>You are now on your way to creating your first application using Watson.</p>
            <p>Read more about Watson in <a href="http://watson-framework.readthedocs.org/">the documentation.</a>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
